body {
margin: 0%;
background: #EFEFBB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Poiret One', cursive;
}

h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 400%;
}

h3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 200%;
}

a.ex2:hover, a.ex2:active {
  font-size: 150%;
}

a {
  display: flex;
  align-items: center;
  flex-direction: column;
  color:black;
  font-size: 100%;
}